$primary-color: #812bb1;
$secondary-color: #564f70;
$black-color: #2d283e;
$white-color: #ffffff;
$grey-color: #e6b8fe;
$blue-color: #276fd1;
$email-lite-pink-color: #e6b8fe;
$container-bg-clr: #fdfaff;
$container-bg-secondary-clr: #f2f0fa;

.pri-clr {
  color: $primary-color;
}

.sec-clr {
  color: $secondary-color;
}

.black-clr {
  color: $black-color !important;
}

.grey-clr {
  color: $grey-color;
}

.blue-clr {
  color: $blue-color;
}

.email-lite-pink-clr {
  color: $email-lite-pink-color;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fw-100 {
  font-weight: 100;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.h-100vh {
  height: 100vh;
  overflow: auto;
}

html,
body {
  background: transparent linear-gradient(0deg, #c6c7d800 0%, #c6c7d8 100%) 0%
    0% no-repeat padding-box;
}

// for sleek scorllbar
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(0.3em, $primary-color);

.promissory-btn {
  background-color: $primary-color;
  color: $white-color;
  border-radius: 25px;
  padding: 7px 28px;
  font-size: 14px;
  word-spacing: 2px;
  border: 1px solid $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $white-color;
    opacity: 0.7;
    border: 1px solid $primary-color;
  }
  &:active {
    background-color: $primary-color !important;
    color: $white-color !important;
    opacity: 0.5 !important;
    border: 1px solid $primary-color !important;
  }
}

.promissory-trnsprnt-btn {
  border: 0 !important;
  &:hover {
    color: $primary-color !important;
    opacity: 0.7;
    border: 0 !important;
  }
  &:active {
    color: $primary-color !important;
    opacity: 0.5 !important;
    border: 0 !important;
  }
}

.promissory-white-btn {
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 25px;
  &:hover {
    border: 1px solid $primary-color;
    opacity: 0.7;
    color: $primary-color !important;
  }
  &:active {
    opacity: 0.5;
  }
}

.promissory-trnsprnt-link {
  border: 0 !important;
  &:hover {
    color: $blue-color !important;
    opacity: 0.7;
    border: 0 !important;
  }
  &:active {
    color: $blue-color !important;
    opacity: 0.5 !important;
    border: 0 !important;
  }
}

.promissory-select {
  padding: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(45 40 62 / 10%);
  border-radius: 0;
  background: transparent;
  appearance: none;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 6px;
  background-size: 0.7em;
  &:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgb(45 40 62 / 10%);
    box-shadow: none;
  }
}

// promissory inputs
.promissory-input-grp {
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cfd6e0;
    opacity: 1; /* Firefox */
  }
  .input-group-text {
    padding: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgb(45 40 62 / 10%);
    border-radius: 0;
    background: transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
.promissory-input {
  padding: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(45 40 62 / 10%);
  border-radius: 0;
  background: transparent;
  &:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgb(45 40 62 / 10%);
    box-shadow: none;
  }
}

.focus-placeholder {
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cfd6e0;
    opacity: 1; /* Firefox */
  }
}

.forgot-pswd-btn,
.register-btn-link,
.login-btn-link {
  text-decoration: none;
  &:hover {
    color: $grey-color;
    opacity: 0.7;
  }
  &:active {
    color: $grey-color !important;
    opacity: 0.5;
  }
}

.disabled-btn {
  opacity: 0.7;
  pointer-events: none;
}

.login-container,
.register-container {
  height: calc(100vh - 102px);
  .img-col {
    .img-content {
      padding-top: 4rem;
      padding-bottom: 4rem;
      border-radius: 10px;
      background: transparent
        linear-gradient(122deg, #eff1f400 0%, #b7a3c972 52%, #724393 100%) 0% 0%
        no-repeat padding-box;
    }
  }
}

.login-form-content,
.register-form-content {
  width: 500px;

  .login-form,
  .register-form {
    border-bottom: 1px solid $secondary-color;
  }
}

.landing-card {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 12px;

  .txt-content {
    border-radius: 12px 12px 0px 0px;
    height: 140px;
    overflow: auto;
    p {
      line-height: 18px;
    }
  }
}

.home-analytics-card {
  width: 100%;
  height: 320px;
  position: relative;
  border-radius: 10px;

  .home-img {
    border-radius: 10px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    .top-content {
      border-radius: 10px 10px 0px 0px;
    }
    .bottom-content {
      border-radius: 0px 0px 12px 12px;
      background-color: #161321 !important;
      .increased-percent {
        border-radius: 4px;
      }
    }
  }
  // background-image: url(../assets/images/home1.jpg);
}

// property-carousel-card
.property-carousel-card {
  background-color: #fff;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0px 2px 12px rgba(207, 214, 224, 0.4);
  .carousel-inner {
    border-radius: 6px;
  }
  .carousel-item {
    border-radius: 6px;
    img {
      border-radius: 6px;
      min-height: 270px;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      position: relative;
      background: transparent;
      opacity: 1;
    }
    .carousel-control-prev-icon {
      .left-arrow {
        position: absolute;
        top: 6px;
        left: 5px;
        color: #fff;
      }
    }
    .carousel-control-next-icon {
      .right-arrow {
        position: absolute;
        top: 6px;
        right: 5px;
        color: #fff;
      }
    }
  }
}
// ends::property-carousel-card

.promissory-container {
  height: 100vh;
  overflow: auto;
  background-color: $container-bg-clr;
}

.loan-form {
  .title {
    background: rgb(207 214 224 / 30%);
    color: $primary-color;
    font-size: 13px;
    font-weight: 500;
  }
}

.loan-footer {
  border-top: 1px solid #d5d4d8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    font-size: 13px;
    padding: 3px 18px;
    font-weight: 500;
    width: 88px;
  }
}

.promissory-upload-ele {
  border: 1px solid rgba(45, 40, 62, 0.3);
  border-style: dashed;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  img {
    width: 30px;
  }
  p,
  span {
    font-size: 11px;
    color: $secondary-color;
    font-weight: 500;
    margin: 0;
    text-align: center;
    line-height: 14px;
  }
  .custom-file-upload {
    margin: 0;
    font-size: 11px;
    color: $primary-color;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    input[type='file'] {
      display: none;
    }
  }
  .supported-file-note {
    font-size: 9px;
    font-weight: 500;
  }
}

.successModal {
  background: rgb(86 79 112 / 70%);
  .modal-content {
    border-radius: 5px;
  }
  .success-dets {
    padding: 20px 0px;
    .tick-icon {
      font-size: 22px;
    }
    .success-txt {
      color: $secondary-color;
      font-size: 11px;
      font-weight: 500;
    }
    .redirect-txt {
      color: rgba(45, 40, 62, 0.5);
      font-size: 9px;
      font-weight: 500;
    }
  }
}

.promissory-accordion {
  .accordion-button {
    background-color: #946ead;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    &::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    &:focus {
      box-shadow: none;
    }
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}

.promissory-modal {
  .modal-header {
    .modal-title {
      font-size: 18px;
      font-weight: 700;
    }
    .close-btns {
      .btn {
        padding: 5px 14px;
        font-size: 12px;
        font-weight: 500;
      }
    }
    border-bottom: 1px solid #d8d8d8;
  }
}

.promissory-tooltip {
  --bs-tooltip-bg: #444753;
  --bs-tooltip-color: #fff;
  --bs-tooltip-font-size: 10px;
  --bs-tooltip-opacity: 1;
  .tooltip-inner {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .root-container {
    flex-direction: column;
  }
  .promissory-container {
    height: calc(100vh - 53px);
  }
}

@media screen and (max-width: 576px) {
  .display-tab-desktop {
    display: none;
  }
  .display-mobile {
    display: block !important;
  }
}
